body{
background-color: #000;
}
h1{
font-family:arial,verdana;
font-weight:bold;
color:orange;
text-align:center;
}
#razas li{
display:inline;
margin:10px;
}
#razas li img{
width:170px;
height:350px;
}
#contenedor{
margin: 0 auto;
width:650px;
}
#datos
{
	width: 565px;
    height: 100px;
	background-color:gray;
	margin-left:50px;
}
#formulario{
background-color:gray;
width:300px;
height:46px;
margin:30px auto;
}
#nombre{
position:relative;
top:10px;
left:35px;
}
#name{
position:relative;
top:10px;
left:49px;
}
#registrar{
position:relative;
top:25px;
left:110px;
width:100px;
}
#jugar{
position:relative;
top:45px;
left:110px;
width:100px;
}
label{
font-weight:bold;
}
#razas{
margin-top:100px;
}
#menu li{
display:inline;	
}
#menu li a{
text-decoration:none;
background-color:orange;
}
.clear{
clear:both
}
#ring{
    width: 1150px;
    height: 650px;
    border: 1px solid #000;
    position: relative;
	background-color:white;
	margin-left:10px;
}
#puerta{
    width: 50px;
    height: 50px;
    position: absolute;
	background-image:url('img/candado.jpg');
	top:300px;
	left:1100px;
}
#pedobear {
    width: 50px;
    height: 50px;
    background-image: url('http://images.cheezburger.com/avatarstore/3070057/129235138371453182.gif');
    position: absolute;
    z-index: 10;
	top: 300px;
}
#orco1 {
    width: 50px;
    height: 50px;
    background-image:url('img/orco.jpg');
    position: absolute;
    left: 300px;
    top: 150px;
}
#orco2{
	width: 50px;
    height: 50px;
    background-image:url('img/orco.jpg');
    position: absolute;
    left: 800px;
    top: 450px;
}
#goblin1{
	width: 50px;
    height: 50px;
    background-image:url('img/goblin.jpg');
    position: absolute;
    left: 800px;
    top: 150px;
}
#goblin2{
	width: 50px;
    height: 50px;
    background-image:url('img/goblin.jpg');
    position: absolute;
    left: 300px;
    top: 450px;
}
#paredIzquierda{
	width: 50px;
    height: 350px;
    background-image:url('img/paredY.jpg');
    position: absolute;
    left: 200px;
    top: 150px;
}
#paredDerecha{
	width: 50px;
    height: 350px;
    background-image:url('img/paredY.jpg');
    position: absolute;
    left: 900px;
    top: 150px;
}
#paredArriba{
	width: 750px;
    height: 50px;
    background-image:url('img/paredX.jpg');
    position: absolute;
    left: 200px;
    top: 50px;
}
#paredAbajo{
	width: 750px;
    height: 50px;
    background-image:url('img/paredX.jpg');
    position: absolute;
    left: 200px;
    top: 550px;
}
#moneda1{
	width: 50px;
    height: 50px;
    background-image:url('img/moneda.jpg');
    position: absolute;
    left: 1050px;
    top: 0px;
}
#moneda2{
	width: 50px;
    height: 50px;
    background-image:url('img/moneda.jpg');
    position: absolute;
    left: 1050px;
    top: 600px;
}
#moneda3{
	width: 50px;
    height: 50px;
    background-image:url('img/moneda.jpg');
    position: absolute;
    left: 250px;
    top: 300px;
}
#moneda4{
	width: 50px;
    height: 50px;
    background-image:url('img/moneda.jpg');
    position: absolute;
    left: 850px;
    top: 300px;
}
#llave1{
	width: 50px;
    height: 50px;
    background-image:url('img/llave.jpg');
    position: absolute;
    left: 550px;
    top: 300px;
}