body{
background-color: #000;
}
h1{
font-family:arial,verdana;
font-weight:bold;
color:orange;
text-align:center;
}
#razas li{
display:inline;
margin:10px;
}
#razas li img{
width:170px;
height:350px;
}
#contenedor{
margin: 0 auto;
width:650px;
}
#formulario{
background-color:gray;
width:300px;
height:46px;
margin:30px auto;
}
#nombre{
position:relative;
top:10px;
left:35px;
}
#name{
position:relative;
top:10px;
left:49px;
}
#jugar{
position:relative;
top:25px;
left:110px;
width:100px;
}
label{
font-weight:bold;
}
#razas{
margin-top:100px;
}
#menu li{
display:inline;	
}
#menu li a{
text-decoration:none;
background-color:orange;
}
.clear{
clear:both
}
#ring {
    width: 1150px;
    height: 650px;
    border: 3px solid #000;
    position: relative;
	background-color:white;
	margin-left:10px;
}
#pedobear {
    width: 50px;
    height: 50px;
    background-image: url('http://images.cheezburger.com/avatarstore/3070057/129235138371453182.gif');
    border: 1px solid #000;
    position: absolute;
    z-index: 10;
	top: 300px;
}
#trollface {
    width: 50px;
    height: 50px;
    background-image: url('http://s2.subirimagenes.com/imagen/previo/thump_6803518trollface.png');
    border: 1px solid #000;
    position: absolute;
    left: 50px;
    top: 50px;
}